body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

#grid{
display:grid;
grid-template-columns:repeat(4,80px);
gap:10px;
justify-content:center;
margin:20px;
}

.dot{
width:80px;
height:80px;
background:#444;
border-radius:50%;
cursor:pointer;
}

.active{
background:lime;
}

.player{
background:orange;
}